.Dropdown {
  position: relative;
  width: 400px;
  padding: 20px;
  border: 1px solid black;
}

.Dropdown__menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: teal;
  color: white;
}
