@value primary-text-color from '../../vars.module.css';

.notification {
  line-height: 1.5;
  padding: 10px 20px;
  color: primary-text-color;
}

.error {
  composes: notification;
  background-color: red;
  color: white;
}

.success {
  composes: notification;
  background-color: green;
  color: white;
}
