.TodoList {
  width: 600px;
}

.TodoList__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid black;
}

.TodoList__text {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
}
